/* TIPOGRAFIA */
/*@font-face {
    font-family: "Itim";
    src: url('../fonts/Itim/Itim-Regular.ttf');
}*/

/* Selector universal */
*{
    margin: 0%; /*Elimina todo margen que trae por defecto*/
    padding: 0%; /*Elimina todo relleno que trae por defecto*/
    /*font-family: "Itim";*/ /*Fuente desde la carpeta fonts*/
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

/* Aplicar estilos en el encabezado header:
/* Color de fondo, altura, borde, tamaño de fuente, alinear texto. */
header{
    background-color: rgba(199, 0, 57, 0.8);
    height: 20vh; /*Altura*/
    font-size: 2vw; /*Tamaño de texto*/
    text-align: start;  /*Alinear texto*/
}

/* Header - Bloque de nav y div */
.header-linea{
    display: inline-block; /*Situa en linea el nav y la div */
    padding-left: 5vw; /*Separación a la izquierda*/
    padding-top: 2vh; /*Separación superior para el menu y logo*/
}

/* Estilo para el logo */
/* Agregar  estilo: de ancho, alto, borde radios y sombra.*/
.logo{
    width: 7vw;  /*Ancho*/
    height: auto;/*Altura*/
    /* border-radius: 50% 50% 50% 50%;  Redondea los vértices del logo(los extremos) */
    /* box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgba(36, 37, 37, 0.8); Agrega sombra alrededor */
}

/* Menu */
/* En los hipervínculos del nav eliminar la decoración del texto, color,
agregar separación entre hipervínculos. */
.menu{
    text-decoration: none; /*Elimina subrayado*/
    color: aliceblue;  /*Color texto*/
    padding-right: 1.0vw; /*Separación entre el texto del menu*/
}

/* Main */
/* 1er Título (h1) */
.contenedor-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
  
.centrado-vertical-horizontal{
    text-align: center; /* Centrar horizontalmente dentro del contenedor */
}

.article-acercade {
    border: 2px solid #000; /* Establece un borde sólido de 1 píxel de grosor y color negro */
    border-radius: 15px 15px 15px 15px; /* Establece el radio de las esquinas */
    padding: 10vh; /* Añade espacio interno para que el contenido no esté pegado al borde */
    margin: 5vh; /* Añade espacio externo */
}

/* Pie de página: color de fondo, altura, tamaño de fuente,
color de texto alineación de texto. */
footer{
    background-color: rgba(0,0,0,0.8);
    height: 15vh; /*Altura*/
    text-align: center; /*Alinear texto*/
    color: aliceblue; /*Color del texto*/
}

/* Eliminar comportamiento en bloque entre divs del footer */
.footer-text{
    display: inline-block; /*Situa en linea las divs*/
    padding-top: 6vh; /*Agrega separación del borde del pie de página al texto*/
}

/* Setear color rojo para los links de esta clase */
p a {
    color: rgba(199, 0, 57, 0.8); /* Cambia el color del texto del enlace */
    text-decoration: none; /* Opcional: quitar la subrayado del enlace */
}

/* flex container en el footer */
.footer-container{
    display: inline-flex; /* Situa en linea las divs */
    padding-top: 6vh; /* Agrega separación del borde del pie de página al texto */
    flex-wrap: wrap; /* Permite desborde al achicarse la ventana */
    row-gap: 1vh; /* Hueco entre filas al desbordar */
    column-gap: .5vw; /* Hueco entre columnas (divs) */
    justify-content: center;
}

.footer-item a {
    color: rgba(199, 0, 57, 0.8); /* Cambia el color del texto del enlace */
    text-decoration: none; /* Opcional: quitar la subrayado del enlace */
}