<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Arquería, Tiro con arco y flecha, Archery">
        <meta name="description" content="Arquería Codo a Codo es el club de arquería del grupo 9 FSP. ">
        <link rel="shortcut icon" href="../img/icono_centauro_1.ico" type="image/x-icon">
        <!-- RELACIONAR HTML CON SU ARCHIVO DE ESTILO -->
        <link rel="stylesheet" href="../css/style.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&&display=swap" rel="stylesheet">
        <!-- ICONS -->
        <script src="https://kit.fontawesome.com/f7a9e85e7b.js" crossorigin="anonymous"></script>
        <title>Nosotros</title>
</head>

<body>
    <header>
        <nav>
            <!-- <a class="logo" href="/">Arquería Codo a Codo</a> -->
            <!-- <div class="header-linea"> -->
            <div>   
              <!-- Logo -->
              <img class=logo src="../img/logo_centauro_1_svg_con_texto_invertido.svg" alt="logo_centauro_1_svg_con_texto">
           </div>

           <div class="mobile-menu">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
           </div>

           <ul class="nav-list">
              <!-- <li><a href="#">Inicio</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Competencias</a></li>
              <li><a href="#">Contacto</a></li> -->
              <li><a class="menu" href="../index.html">Inicio</a></li>
              <li><a class="menu" href="acercade.html">Nosotros</a></li>
              <li><a class="menu" href="competencia.html">Competencias</a></li>
              <li><a class="menu" href="contacto.html">Contacto</a></li>
           </ul>
        </nav>
    </header>

    <main>
        <!-- <h1>Arqueria Codo a Codo-acercade->Acerca de nosotros</h1> -->
        <!-- <div class="contenedor-flex">
            <div class="centrado-vertical-horizontal">
                <h1>Arquería Codo a Codo-acercade.html->Acerca de nosotros</h1>
            </div>
        </div> -->

        <!-- <section> cambié section por div porque no tenía un <h>-->
        <div>
            <article class="article-acercade">
                <h2>QUIENES SOMOS</h2>
                <p>Somos parte de una familia de Tiro con Arco y una comunidad de Deportistas. Estamos aquí para divertirnos y compartir el amor por el Tiro con Arco.</p>
            </article>

            <article class="article-acercade">
                <h2>ETIQUETA DEL TIRO CON ARCO</h2>
                <ul>
                    <li>No dispares a distancias que estén más allá de tu capacidad, fallando y retrasando continuamente a otros.
                    <li>Comparte blancos cuando haya muchos arqueros activos.</li>
                    <li>No toques el equipo de otro arquero sin permiso.</li>
                    <li>Nunca presumas de tu costoso equipo ni te burles del equipo de otras personas.</li>
                    <li>No hables con un arquero que prefiere permanecer en silencio mientras se concentra.</li>
                    <li>No hables en voz alta mientras otros disparan.</li>
                    <li>Apagar los celulares o ponerlos en silencio para no molestar a los demás arqueros durante el tiro.</li>
                    <li>Ofrece asesoramiento sólo después de obtener permiso para hacerlo. "¿Puedo ayudar?"</li>
                    <li>No compares puntuaciones de forma grosera ni te burles de los demás.</li>
                    <li>Se siempre educado y diviértete.</li>            
                </ul>
            </article>

            <article class="article-acercade">
                <h2>MEDIDAS DE SEGURIDAD</h2>
                <ul>
                    <li>Un equipo dañado (arco y/o flecha) no debe utilizarse nunca. Por eso, antes de disparar, es necesario realizar una comprobación sistemática.</li>
                    <li>Una vez tensado el arco no se debe soltar la cuerda sin enflechar.</li>
                    <li>El arco no debe apuntar a nadie bajo ninguna circunstancia.</li>
                    <li>No se debe enflechar mientras haya alguien delante la línea de tiro.</li>
                    <li>Mientras se enflecha el arco debe apuntarse hacia abajo y adelante.</li>
                    <li>No tirar flechas hacia arriba.</li>
                    <li>Esperar en la línea de tiro mientras los otros tiradores están tirando y salir a recuperar las flechas sólo cuando el capitán de campo de la orden (Libre!).</li>
                    <li>No se debe correr al recuperar las flechas.</li>
                    <li>Al sacar las flechas del blanco, párese a un lado y asegúrese de que no haya nadie directamente detrás de usted.</li>
                </ul>
            </article>
        </div>
        <!-- </section> -->
    </main>

    <footer>
        <!-- footer con flex -->
        <div class="footer-container"> <!-- Flex container -->
           <div class="footer-item item-1">Arquería Codo a Codo</div> <!-- Flex items -->

           <div class="footer-item item-2">
              <i class="fa-solid fa-location-dot"></i> Algún lugar
           </div>
           
           <div class="footer-item item-3">
              <i class="fa-solid fa-envelope"></i>
              <a href="mailto://arqueria.codoacodo@algunmail.com"> arqueria.codoacodo@algunmail.com</a>
           </div>
        </div>
     </footer>
     <!-- <script src="js/mobile-navbar.js"></script> -->   
</body>
</html>