<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Arquería Codo a Codo es el club de arquería del grupo 9 FSP. ">
    <title>Acerca de nosotros</title>
</head>
<body>
    <header>
        <div>
           <!-- Logo -->
           <img src="/img/logo centauro 1.png" alt="logo">
       
        </div>   
        <nav>
           <!-- Menu de navegacion -->
       <a href="../index.html"> Inicio </a>
       <a href="acercade.html"> Acerca de nosotros </a>
       <a href="competencia.html"> Competencias y eventos </a>
       <a href="contacto.html"> Contactanos </a>
       </nav>
    </header>
    <main>
    <!-- Contenido -->
    <h1>acercade-</h1>
    <section>
        <!-- Bloque 1 -->
        <div>
            <h1>un div con 1 h1</h1>
        </div>

        <!-- Bloque 2 -->
        <div>
            <h1>otro div con 1 h1 y 2 div con 1 imagen c/u</h1>
            <div>
                <img src="/img/logo centauro 1.png" alt="logo">
            </div>
            <div>
                <img src="/img/logo centauro 2.png" alt="logo">
            </div>
        </div>

    </section>

    <section>
        <hr>
        <h1>ETIQUETA DE TIRO CON ARCO</h1>
        <ul>
            <li>Somos parte de una familia de Tiro con Arco y una comunidad de Deportistas. Estamos aquí para divertirnos y compartir el amor por el Tiro con Arco.</li>
            <li>No dispares a distancias que estén más allá de tu capacidad, fallando y retrasando continuamente a otros.
            <li>Compartir dianas cuando haya muchos arqueros activos.</li>
            <li>Esperar en la línea de tiro mientras los vecinos están en pleno tiro y salir sólo cuando todos hayan terminado de tirar sus flechas (Libre!).</li>
            <li>No toques el equipo de otro arquero sin permiso.</li>
            <li>Nunca presumas de tu costoso equipo ni te burles del equipo de otras personas.</li>
            <li>No hables con un arquero que prefiere permanecer en silencio mientras se concentra.</li>
            <li>No hables en voz alta mientras otros disparan.</li>
            <li>Apagar los móviles o ponerlos en silencio para no molestar a los demás arqueros durante el tiro.</li>
            <li>Ofrece asesoramiento sólo después de obtener permiso para hacerlo. "¿Puedo ayudar?"</li>
            <li>No compares puntuaciones de forma grosera ni te burles de los demás.</li>
            <li>Recoge tu basura y llévala contigo o tírala a un cubo de basura.</li>
            <li>Se siempre educado y diviértete.</li>
            
        </ul>
    </section>

  
    </main>

    <footer>
        <hr>
        Arquería Codo a Codo, Algún lugar de Argentina  <a href="mailto://arqueria.codoacodo@algunmail.com">arqueria.codoacodo@algunmail.com</a>
      
    </footer>
       
</body>
</html>