<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/competencia.css">  
</head>
<body class="mi-elemento">
    <header>
        <img src="../img/header3.jpeg" alt="" class="imagen-header">
        <h1 class="EncabezadoPrincipal">Competencia de Arco y Flecha</h1>
        <nav class="Indice">
            <ul>
                <li class="Navegacion"><a href="index.html"> Inicio </a></li>
                <li class="Navegacion"><a href="template/acerca.html">Acerca de nosotros</a></li>
                <li class="Navegacion"><a href="template/competencia.html"> Competencias y eventos</a></li>
                <li class="Navegacion"><a href="template/contacto.html">Contactanos</a></li>
            </ul>
        </nav>
        <link rel="stylesheet" href="../css/competencia.css"> 
    </header>
    


    <main>
        <title>Competencia de Arco y Flecha</title>
        <div class="centrar-contenido">
            <h2 class="TituloPrincipal">Mundial de tiro con arco 2023</h2>  
            <h3 class="SubtituloPrincipal">¡Arranco el Mundiaaal!      Muchaaachooos..!</h3>
            
            <img src="../img/portada.jpeg" alt="Texto alternativo de la imagen" class="imagen-pequena">

     </div >
        <div class="parrafo-container">
            <p class="parrafo1">El Campeonato del Mundo de tiro con arco 2023 se celebra en Berlín, Alemania, del 31 de julio al 6 de agosto y reparte un gran número de cuotas para los Juegos Olímpicos de París 2024.</p>
            <p class="parrafo1">El Mundial de tiro con arco 2023 será el primer gran evento de este deporte clasificatorio para los Juegos Olímpicos de París 2024 en este deporte. Las primeras plazas se repartieron en los recientes Juegos Europeos de 2023 en Cracovia, donde España obtuvo dos para sus atletas, pero en Berlín habrá hasta 24 en juego.

                La capital alemana recibirá más de 500 arqueros llegados de todo el mundo para competir en 10 eventos. De ellos, alrededor de 300 lo harán en la modalidad de arco recurvo, disciplina olímpica que reparte los billetes a los Juegos del próximo año.

                La competición se celebra del 31 de julio al 6 de agosto en Maifeld y la Olympischer Platz, en el Parque Olímpico de Berlín
            </p>    
            <p class="parrafo1">La República de Corea es una de las grandes potencias en tiro con arco recurvo. An San se convirtió en la primera arquera que lograba tres medallas de oro en una misma edición de los Juegos Olímpicos en Tokio 2020. Ella y su compañera Choi Mi-sun encontrarán sus mayores rivales en las británicas Penny Healey y Bryony Pitman, primera y segunda respectivamente del ranking mundial. Healey, de solo 18 años, ganó el oro en los Juegos Europeos 2023.</p>

            <p class="parrafo1">En categoría masculina, el actual campeón del mundo es Kim Woo-jin, doble campeón olímpico por equipos con la República de Corea. Sin embargo, desde su victoria en Yankton 2021, Kim solo ha competido dos veces internacionalmente fue quinto y noveno en dos Copas del Mundo. El brasileño Marcus d'Almeida, el hombre al que derrotó en la final de 2021, es el número uno del mundo y ya acumula dos victorias este año.</p>
        </div>
    </main>
  
    
    <main>
        <h2 class="TodosLosSubtitulos">Próximos Eventos</h2>
        <p>Descubre nuestras competencias de arco y flecha programadas para este año.</p>
        <a class="link" href="https://www.arquerosonline.com.ar/proximostorneos">Enlace a próximos torneos</a>      
        <h2 class="TodosLosSubtitulos">Reglas y Normativas</h2>
        <p>Conoce las reglas y normativas para participar en nuestras competencias.</p>
        <a href="Archivos/reglas-tiro-con-arco-fmta-EN (1).pdf" download="Reglas y Normativas.pdf">
            <button>Descargar PDF</button>
        </a>    
        
        </main>
        

    <footer>
        <p>Derechos de autor &copy; 2023 Competencia de Arco y Flecha.</p>
    </footer>
</body>
</html>