<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Arquería, Tiro con arco y flecha, Archery">
    <meta name="description" content="Arquería Codo a Codo es el club de arquería del grupo 9 FSP. ">
    <link rel="shortcut icon" href="img/icono_centauro_1.ico" type="image/x-icon">
    <title>Competencias y Eventos</title>
</head>
<body>
    <header>
        <div>
           <!-- Logo -->
       
        </div>   
        <nav>
            <!-- Menu de navegacion -->
            <a href="../index.html"> Inicio </a>
            <a href="acercade.html">| Acerca de nosotros </a>
            <a href="competencia.html">| Competencias y eventos </a>
            <a href="contacto.html">| Contactanos </a>
       </nav>
       </header>
       <main>
       <!-- Contenido -->
       <h1>competencias-</h1>
       <div> <h1>Competencias en Arquería</h1>
<div>En la arquería, las competencias se centran en diversas habilidades y aspectos que un arquero debe dominar para tener éxito:</div>
<ul>
  <li>Precisión</li>
  <li>Concentración</li>
  <li>Forma y técnica</li>
  <li>Fuerza y resistencia</li>
  <li>Alineación visual</li>
  <li>Control de la respiración</li>
  <li>Adaptabilidad</li>
</ul>
<div>Las competencias mencionadas son fundamentales para destacar en el deporte del tiro con arco.</div>
</div>
      
       <img src="flecha-blanco-desenfocado.jpg" alt="">
       
       
       </main>
       <footer>
       
       </footer>
       
</body>
</html>
