<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Arquería, Tiro con arco y flecha, Archery">
    <meta name="description" content="Arquería Codo a Codo es el club de arquería del grupo 9 FSP. ">
    <link rel="shortcut icon" href="../img/icono_centauro_1.ico" type="image/x-icon">
    <!-- RELACIONAR HTML CON SU ARCHIVO DE ESTILO -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/acercade.css">
    <link rel="stylesheet" href="../css/competencia.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&&display=swap" rel="stylesheet">
    <!-- ICONS -->
    <script src="https://kit.fontawesome.com/f7a9e85e7b.js" crossorigin="anonymous"></script>

    <title>Competencias</title>
</head>

<body>
    <header>
        <nav>
            <!-- <a class="logo" href="/">Arquería Codo a Codo</a> -->
            <!-- <div class="header-linea"> -->
            <div>
                <!-- Logo -->
                <img class=logo src="../img/logo_centauro_1_svg_con_texto_invertido.svg"
                    alt="logo_centauro_1_svg_con_texto">
            </div>

            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <ul class="nav-list">
                <li><a class="menu" href="../index.html">Inicio</a></li>
                <li><a class="menu" href="acercade.html">Nosotros</a></li>
                <li><a class="menu" href="competencia.html">Competencias</a></li>
                <li><a class="menu" href="tienda.html">Tienda</a></li>
                <li><a class="menu" href="contacto.html">Contacto</a></li>
                <li><a class="menu" href="tabla_productos.html">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- <h1>Arqueria Codo a Codo-acercade->Acerca de nosotros</h1> -->
        <!-- <div class="contenedor-flex">
            <div class="centrado-vertical-horizontal">
                <h1>Arquería Codo a Codo-acercade.html->Acerca de nosotros</h1>
            </div>
        </div> -->

        <!-- <section> cambié section por div porque no tenía un <h>-->
        <div>
            <article class="article-competencia">
                <h1>Competencia de Arco y Flecha</h1>
                <br>
                <h2 class="TituloPrincipal">Mundial de tiro con arco 2023</h2>
                <br>
                <h3 class="SubtituloPrincipal">¡Arranco el Mundiaaal! Muchaaachooos..!</h3>
                <br>
                <div>
                    <img src="../img/portada.jpeg" alt="Texto alternativo de la imagen" class="imagen-pequena">
                </div>
                <br>
                <p class="parrafo1">El Campeonato del Mundo de tiro con arco 2023 se celebra en Berlín, Alemania, del 31
                    de
                    julio al 6 de agosto y reparte un gran número de cuotas para los Juegos Olímpicos de París 2024.</p>
                    <br>
                <p class="parrafo1">El Mundial de tiro con arco 2023 será el primer gran evento de este deporte
                    clasificatorio para los Juegos Olímpicos de París 2024 en este deporte. Las primeras plazas se
                    repartieron en los recientes Juegos Europeos de 2023 en Cracovia, donde España obtuvo dos para sus
                    atletas, pero en Berlín habrá hasta 24 en juego.

                    La capital alemana recibirá más de 500 arqueros llegados de todo el mundo para competir en 10
                    eventos.
                    De ellos, alrededor de 300 lo harán en la modalidad de arco recurvo, disciplina olímpica que reparte
                    los
                    billetes a los Juegos del próximo año.

                    La competición se celebra del 31 de julio al 6 de agosto en Maifeld y la Olympischer Platz, en el
                    Parque
                    Olímpico de Berlín
                </p>
                <br>
                

                <p class="parrafo1">La República de Corea es una de las grandes potencias en tiro con arco recurvo. An
                    San
                    se convirtió en la primera arquera que lograba tres medallas de oro en una misma edición de los
                    Juegos
                    Olímpicos en Tokio 2020. Ella y su compañera Choi Mi-sun encontrarán sus mayores rivales en las
                    británicas Penny Healey y Bryony Pitman, primera y segunda respectivamente del ranking mundial.
                    Healey,
                    de solo 18 años, ganó el oro en los Juegos Europeos 2023.</p>
                    <br>

                <p class="parrafo1">En categoría masculina, el actual campeón del mundo es Kim Woo-jin, doble campeón
                    olímpico por equipos con la República de Corea. Sin embargo, desde su victoria en Yankton 2021, Kim
                    solo
                    ha competido dos veces internacionalmente fue quinto y noveno en dos Copas del Mundo. El brasileño
                    Marcus d'Almeida, el hombre al que derrotó en la final de 2021, es el número uno del mundo y ya
                    acumula
                    dos victorias este año.</p>
                    <br>
            </article>

            <article class="article-competencia">
                <h2 class="TodosLosSubtitulos">Próximos Eventos</h2>
                <br>
                <p>Descubre nuestras competencias de arco y flecha programadas para este año.</p>
                <a class="link" href="https://www.arquerosonline.com.ar/proximostorneos">Enlace a próximos torneos</a>
                <h2 class="TodosLosSubtitulos">Reglas y Normativas</h2>
                <br>
                <p>Conoce las reglas y normativas para participar en nuestras competencias.</p>
                <a href="Archivos/reglas-tiro-con-arco-fmta-EN (1).pdf" download="Reglas y Normativas.pdf">
                    <button>Descargar PDF</button>
                </a>
            </article>
        </div>
        <!-- </section> -->
    </main>

    <footer>
        <!-- footer con flex -->
        <div class="footer-container"> <!-- Flex container -->
            <div class="footer-item item-1">Arquería Codo a Codo</div> <!-- Flex items -->

            <div class="footer-item item-2">
                <i class="fa-solid fa-location-dot"></i> Algún lugar
            </div>

            <div class="footer-item item-3">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto://arqueria.codoacodo@algunmail.com"> arqueria.codoacodo@algunmail.com</a>
            </div>
        </div>
    </footer>
    <script src="../js/mobile-navbar.js"></script>
</body>

</html>