<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Arquería Codo a Codo es el club de arquería del grupo 9 FSP. ">
   <link rel="shortcut icon" href="img/icono_centauro_1.ico" type="image/x-icon">
    <title>Contacto</title>
</head>
<body>
    
</body>
<header>
   <div>
       <!-- Logo -->
   
   </div>   
   <nav>
      <!-- Menu de navegacion -->
      <a href="../index.html"> Inicio </a>
      <a href="acercade.html">| Acerca de nosotros </a>
      <a href="competencia.html">| Competencias y eventos </a>
      <a href="contacto.html">| Contactanos </a>
   </nav>
   </header>
   <main>
   <!-- Contenido -->
   <h1>contacto-</h1>
   <div> abc</div>
   <div>def </div>
   <img src="" alt="">
   
   
   </main>
   <footer>
   
   </footer>
   
</html>